{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="header-title">Pricelar ro`yxati</h4>
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="striped-rows-preview" role="tabpanel">
                                                <div class="table-responsive-sm">
                                                    <table class="table table-striped table-centered mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Sarlavha</th>
                                                                <th>Narx</th>
                                                                <th>Tana Qism</th>
                                                                <th>Harakatlar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for price in prices %}
                                                            <tr>
                                                                <td>{{forloop.counter}}</td>
                                                                <td>{{price.title}}</td>
                                                                <td>$ {{price.price}}</td>
                                                                <td>{{price.body}}</td>
                                                                <td class="table-action">
                                                                    <a href="{% url 'price-detail' price.id %}" class="action-icon"><i class=" ri-share-forward-2-line"></i></a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div> <!-- end table-responsive-->                     
                                            </div> <!-- end preview-->
                                         </div> <!-- end tab-content-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div>
                        </div>
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->
{% endblock content %}